@font-face {
  font-family: "Poppins";
  src: "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap";
}
//default settings
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
// variables
$color-primary: #111111;
$color-secondary: #fff;
$color-tertiary: rgba(224, 223, 223, 0.185);
